* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana;
}

body {
    background-image: url(./estrellas.png);
    background-size: cover;
}

.body {
    background-color: rgb(33, 33, 33) opacity(1);
    display: flex;
    flex-direction: column;
    width: 70%;
    border: 5px solid rgb(87, 86, 86);
    text-align: center;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 10px;
    padding: 10px;
    font-size: larger;
}

.title {
    padding: 1%;
    color: white;
    background-color: rgb(95,73,107);
    border-radius: 10px;
    border: 2px solid rgb(87, 86, 86);

}

table {
    border: 2px solid rgb(87, 86, 86);
    padding: 1%;
    margin-top: 10px;
    border-radius: 10px;
    background-color: rgb(95,73,107);
}

td {
    background-color: rgb(162, 179, 193);
    border-radius: 10px;
    width: 50%;
    border: 1px solid rgb(87, 86, 86);
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}

button {
    margin-top: 10px;
    width: 100px;
    padding: 1%;
    color: white;
    border: 2px solid rgb(87, 86, 86);
    border-radius: 10px;
    background-color: rgb(157, 121, 176);
    font-size: 13px;
    font-weight: bold;
    width: 150px;
    height: 50px;
}

button:focus {
    background-color: rgb(131,159,219);
}
button:hover {
    background-color: rgb(204, 110, 255);
}

.panel {
    color: white;
    padding: 1%;
    font-weight: bold;
    margin-top: 10px;
    background-color: rgb(157, 121, 176);
    border-radius: 10px;
    border: 2px solid rgb(87, 86, 86);
}

#creator{
    font-weight: bold;
    padding-top: 10%;
    color: white;
    text-align: end;
    text-align: center;
}



